
body {
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}


.w-inline-block {
  max-width: 100%;
  display: inline-block;
}



.w-clearfix:after {
  clear: both;
}


.w-file-upload-uploading-btn {
  cursor: pointer;
  background-color: #fafafa;
  border: 1px solid #ccc;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  display: flex;
}

.w-file-upload-file {
  background-color: #fafafa;
  border: 1px solid #ccc;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 8px 9px 8px 11px;
  display: flex;
}

.w-file-upload-file-name {
  font-size: 14px;
  font-weight: normal;
  display: block;
}

.w-file-remove-link {
  cursor: pointer;
  width: auto;
  height: auto;
  margin-top: 3px;
  margin-left: 10px;
  padding: 3px;
  display: block;
}

.w-icon-file-upload-remove {
  margin: auto;
  font-size: 10px;
}

.w-file-upload-error-msg {
  color: #ea384c;
  padding: 2px 0;
  display: inline-block;
}

.w-file-upload-info {
  padding: 0 12px;
  line-height: 38px;
  display: inline-block;
}

.w-file-upload-label {
  cursor: pointer;
  background-color: #fafafa;
  border: 1px solid #ccc;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
}

.w-icon-file-upload-icon, .w-icon-file-upload-uploading {
  width: 20px;
  margin-right: 8px;
  display: inline-block;
}

.w-icon-file-upload-uploading {
  height: 20px;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container:before, .w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container:after {
  clear: both;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-row:before, .w-row:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-row:after {
  clear: both;
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}

.w-col-1 {
  width: 8.33333%;
}

.w-col-2 {
  width: 16.6667%;
}

.w-col-3 {
  width: 25%;
}

.w-col-4 {
  width: 33.3333%;
}

.w-col-5 {
  width: 41.6667%;
}

.w-col-6 {
  width: 50%;
}

.w-col-7 {
  width: 58.3333%;
}

.w-col-8 {
  width: 66.6667%;
}

.w-col-9 {
  width: 75%;
}

.w-col-10 {
  width: 83.3333%;
}

.w-col-11 {
  width: 91.6667%;
}

.w-col-12 {
  width: 100%;
}

.w-hidden-main {
  display: none !important;
}




.w-nav {
  z-index: 1000;
  background: #ddd;
  position: relative;
}

.w-nav:before, .w-nav:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-nav:after {
  clear: both;
}

.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.w-nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-nav-link.w--current {
  color: #0082f3;
}

.w-nav-menu {
  float: right;
  position: relative;
}

[data-nav-menu-open] {
  text-align: center;
  background: #c8c8c8;
  min-width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: visible;
  display: block !important;
}

.w--nav-link-open {
  display: block;
  position: relative;
}

.w-nav-overlay {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.w-nav-overlay [data-nav-menu-open] {
  top: 0;
}

.w-nav[data-animation="over-left"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-left"] .w-nav-overlay, .w-nav[data-animation="over-left"] [data-nav-menu-open] {
  z-index: 1;
  top: 0;
  right: auto;
}

.w-nav[data-animation="over-right"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
  z-index: 1;
  top: 0;
  left: auto;
}

.w-nav-button {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: #0000;
  tap-highlight-color: #0000;
  -webkit-user-select: none;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.w-nav-button:focus {
  outline: 0;
}

.w-nav-button.w--open {
  color: #fff;
  background-color: #c8c8c8;
}

.w-nav[data-collapse="all"] .w-nav-menu {
  display: none;
}

.w-nav[data-collapse="all"] .w-nav-button, .w--nav-dropdown-open, .w--nav-dropdown-toggle-open {
  display: block;
}

.w--nav-dropdown-list-open {
  position: static;
}


:root {
  --color--white: white;
  --color--black: black;
  --color--heading: var(--color--black);
  --border-radius--border-radius: 15px;
  --color--primary-1: #fae849;
  --border-radius--border-radius-lg: 100px;
  --color--border-color: #eee;
  --color--gray-1: #e5e5e5;
  --color--gray-2: #ffffff26;
  --color--transparent: #0000;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



body {

  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
}


.bg-primary {
  background-color: var(--color--primary-1);
}

.bg-black {
  background-color: var(--color--black);
}

.bg-white {
  background-color: var(--color--white);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-small {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.inner-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.inner-container-small {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.section-spacing {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-spacing-top {
  padding-top: 80px;
}

.section-spacing-bottom {
  padding-bottom: 100px;
}

.hero-inner {
  border-bottom: 1px solid var(--color--border-color);
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-inner-title {
  font-size: 60px;
}

.brand-wrap {
  padding-left: 0;
  display: none;
}

.navbar {
  border-radius: var(--border-radius--border-radius-lg);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffff26;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;

width: fit-content;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 5px;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
  box-shadow: 0 0 10px #0000001a;
}
 
.grid-navbar {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.nav-link {
  border-radius: var(--border-radius--border-radius-lg);
  color: var(--color--black);
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
}

.nav-link:hover {
  background-color: var(--color--gray-1);
}

.nav-link.w--current {
  background-color: var(--color--gray-1);
  color: var(--color--black);
}



.marquee-item {
  z-index: -1;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  display: flex;
  position: absolute;
  inset: 40% 0% auto;
}

.marquee-list {
  grid-column-gap: 150px;
  grid-row-gap: 150px;
  flex: none;
  display: flex;
}

.marquee-list.two {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.marquee-title {
  text-transform: uppercase;
  flex: none;
  margin-bottom: 0;
  font-size: 160px;
  font-weight: 600;
  line-height: 1.2em;
}

.hero-section {
  padding-top: 50px;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}

.hero-content {
  border-radius: var(--border-radius--border-radius);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  text-align: center;
  background-color: #ffffff26;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 80px;
  display: flex;
}

.hero-email {
  border-radius: var(--border-radius--border-radius-lg);
  background-color: var(--color--primary-1);
  color: var(--color--black);
  margin-bottom: 10px;
  padding: 4px 14px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.hero-title {
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2em;
  color: var(--color--black);
}

.hero-image {
  border-radius: var(--border-radius--border-radius);
  object-fit: cover;
  height: 470px;
  margin-bottom: 30px;
}

.hero-description {
  margin-bottom: 30px;
  font-size: 18px;
  color: var(--color--black);
}

.button-black {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid var(--color--black);
  border-radius: var(--border-radius--border-radius-lg);
  background-color: var(--color--black);
  color: var(--color--white);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.button-black:hover {
  border-color: var(--color--black);
  background-color: var(--color--white);
  color: var(--color--black);
}

.button-icon {
  width: 16px;
  height: 16px;
}

.hero-bottom {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.hero-title-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-title-icon {
  width: 45px;
  height: 44px;
}



/* Webflow Marquee Animation */
.marquee-item {
  overflow: hidden !important;
  width: 100% !important;
  pointer-events: none;
}

.marquee-list {
  animation: webflow-marquee 25s linear infinite !important;
  will-change: transform;
  display: flex !important;
  white-space: nowrap !important;
  width: max-content !important;
}

@keyframes webflow-marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}



